body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    background-image: url('img/naturbilde_ovelse.jpg');
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav{
    background-color: #300;
    padding: 10px 0;
}