body{
    font-family: arial, helvetica, sans-serif;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 5rem;
    padding: 0;
}

h1{
    color:rgb(9, 255, 0);
    font-size: 60px;
    background-color: red;
    padding: 2rem;
}    
a{
    text-decoration: none;
    font-size: 18px;
}    

a.btn{
    background-color: rebeccapurple;
    color:navy;
    padding: 2rem;
    display: inline-block;
    margin: 10px 5px;

}